:root {
    font-size: 62.5%;

    @include breakpoint(desk) {
        font-size: 75%;
    }

    @include breakpoint(lap) {
        font-size: 56.25%;
    }

    @include breakpoint(tab-port) {
        font-size: 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.7em;
    font-weight: normal;
}

body {
    padding: 2rem 0;
    font-family: "Redressed";

    @include breakpoint(phone) {
        padding: 0;
    }

    @media only screen and (min-width: 85em) {
        width: 136rem;
        margin: 0 auto;
    }
}

.symbol {
    box-shadow: none;
}

.name {
    box-shadow: none;
}

.alert-info {
    box-shadow: none;
}
