.player {
    align-items: stretch;
    background: #000;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: start;
    padding: 2rem 0;

    @include breakpoint(lap) {
        align-items: stretch;
    }

    &__name {
        margin: 0 2rem;
        border-bottom: 2px solid #fff;
        padding: 0 0 1rem 5rem;
        font-size: 2rem;
        letter-spacing: 0.4rem;
        font-family: "Goldman", sans-serif;
        text-transform: uppercase;
        position: relative;

        img.edit {
            position: absolute;
            height: 2.5rem;
            bottom: 50%;
            left: 0;
            transform: translateY(25%);
            filter: invert(100%);
            cursor: pointer;

            &:hover {
                filter: invert(75%);
            }
        }

        .symbol-box {
            position: absolute;
            right: 1rem;
        }
    }

    &__score {
        font-size: 15rem;
        text-align: center;

        @include breakpoint(lap) {
            font-size: 10rem;
        }

        @include breakpoint(tab-land) {
            font-size: 15rem;
        }

        @include breakpoint(tab-port) {
            font-size: 10rem;
        }

        @include breakpoint(phone) {
            font-size: 15rem;
        }

        @media only screen and (max-width: 28em) {
            font-size: 10rem;
        }

        @media only screen and (max-width: 22em) {
            font-size: 7.5rem;
        }
    }
}

.turn {
    box-shadow: 0rem 0.5rem 2rem rgba(128, 128, 128, 1);
    transition: box-shoadow 0.5s;
    outline: 2px solid #000;
    border: 2px solid #fff;
}

.player-1 {
    grid-area: player1;
}

.player-2 {
    grid-area: player2;
}
